{% set address_bar__base_class = 'address-bar' %}
{% set link_blockname = address_bar__base_class %}
{% set heading_blockname = address_bar__base_class %}

<div {{ bem(address_bar__base_class) }}>
  {% include "@molecules/date-bars/date-bar.twig" with {
    date_bar_blockname: address_bar__base_class,
  } %}
  <div {{ bem('content', [], address_bar__base_class) }}>
    <div {{ bem('details', [], address_bar__base_class) }}>
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        heading_level: '3',
        heading: address_bar__heading,
        heading_base_class: 'heading',
      } %}
      {% include "@atoms/01-links/link/link.twig" with {
        link_base_class: 'directions',
        link_content: 'Directions',
        link_url: address_bar__directions_url,
      } %}
      <div {{ bem('accessibility-rating', [], address_bar__base_class) }}>
        <strong>Accessibility</strong><br />
        <span {{ bem('accessibility', [], address_bar__base_class) }}>{{ address_bar__accessibility }}</span>
      </div>
    </div>
    <div {{ bem('links', [], address_bar__base_class) }}>
      {% for link in address_bar__secondary_links %}
        {% include "@atoms/01-links/link/link.twig" with {
          link_modifiers: ['secondary'],
          link_content: link.address_bar__secondary_link__text,
          link_url: link.address_bar__secondary_link__url,
        } %}
      {% endfor %}
      {% include "@atoms/01-links/link/link.twig" with {
        link_modifiers: ['primary'],
        link_content: address_bar__primary_link__text,
        link_url: address_bar__primary_link__url,
      } %}
    </div>
  </div>
</div>