{{ attach_library('nypl_emulsify/slideshow') }}

{% set slideshow__base_class = 'slideshow' %}

<div {{ bem(slideshow__base_class) }}>
  {# Viewer #}
  <div {{ bem('viewer', [], slideshow__base_class) }}>
    {% for slide in slides %}
      {% include "@atoms/04-images/00-image/responsive-image.twig" with {
        output_image_tag: true,
        img_src: slide.img_src,
      } %}
    {% endfor %}
  </div>

  <div {{ bem('meta', [], slideshow__base_class) }}>
    {% for slide in slides %}
      <div {{ bem('meta-item', [], slideshow__base_class) }}>
        {# Image Title #}
        <span {{ bem('image-title', [], slideshow__base_class) }}>
          {{ slide.img_title }}
        </span>
        {# Counter #}
        <span {{ bem('counter', [], slideshow__base_class) }}>
          {{ loop.index }} of {{ loop.length }} Slides
        </span>
      </div>
    {% endfor %}
  </div>

  {# Navigation #}
  <div {{ bem('navigation', [], slideshow__base_class) }}>
    {# Previous Arrow #}
    <div {{ bem('nav', (['prev']), slideshow__base_class) }}>
      {# {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: 'arrow-white',
        icon_base_class: 'arrow',
        icon_blockname: slideshow__base_class
      } %} #}
    </div>

    {# Next Arrow #}
    <div {{ bem('nav', (['next']), slideshow__base_class) }}>
      {# {% include "@atoms/04-images/icons/_icon.twig" with {
        icon_name: 'arrow-white',
        icon_base_class: 'arrow',
        icon_blockname: slideshow__base_class,
        icon_modifiers: ['right']
      } %} #}
    </div>

    {# Carousel #}
    <div {{ bem('carousel', [], slideshow__base_class) }}>
      {% for slide in slides %}
        {% include "@atoms/04-images/00-image/responsive-image.twig" with {
          output_image_tag: true,
          img_src: slide.img_src,
        } %}
      {% endfor %}
    </div>
  </div>
</div>