{#
  Variables:
  ongoing - Whether this is an ongoing event
  date_tile__start_date - The event's starting date
  date_tile__end_date - The event's ending date
#}

{% set catalog_item_base_class = 'catalog-item' %}

{% if catalog_item__media_type == 'electronic resource' %}
  {% set catalog_item__icon = 'computer' %}
{% elseif catalog_item__media_type == 'music' or 'audiobook' %}
  {% set catalog_item__icon = 'cd' %}
{% else %}
  {% set catalog_item__icon = catalog_item__media_type  %}
{% endif %}

<li {{ bem(catalog_item_base_class, (catalog_item_modifiers), catalog_blockname) }}>
  <div {{ bem('icon', [], catalog_item_base_class) }}>
    {% if catalog_item__image %}
      {% block catalog_item__image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          img_src: catalog_item__image_src,
        } %}
      {% endblock %}
    {% else %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_name: catalog_item__icon,
        icon_modifiers: ['xlarge'],
      } %}
    {% endif %}
  </div>

  <div {{ bem('content', [], catalog_item_base_class) }}>
    <h3>{{ catalog_item__title }}</h3>

    <span class="tag">{{ catalog_item__year }}</span> | 
    <span class="tag">{{ catalog_item__media_type|title }}</span>

    <div>By {{ catalog_item__author }}<div>

    <p>{{ catalog_item__availability_level }}
    {% include "@atoms/links/link/more-link.twig" with {
      link_content: 'View Detail',
      link_url: address_bar__directions_url,
    } %}
    </p>
  </div>
</li>
