{% set event_card__base_class = 'event-card' %}
<div {{ bem(event_card__base_class) }}>
  {% if event_card__image %}
    <div {{ bem('image', [], event_card__base_class) }}>
      {% block event_card__image %}
        {# This part's just for pattern lab. Drupal will replace the whole block #}
        {% include "@atoms/04-images/00-image/responsive-image.twig" with {
          img_srcset: image.four_by_three.responsive.srcset,
          img_sizes: image.four_by_three.responsive.sizes,
          img_src: image.four_by_three.responsive.src,
          img_alt: image.four_by_three.responsive.alt,
        } %}
      {% endblock %}
      {% include "@molecules/date-tile/date-tile.twig" with {
        date_tile__modifiers: ['floated'],
        ongoing: event_card__date__ongoing,
        date_tile__start_date: event_card__date__start,
        date_tile__end_date: event_card__date__end,
      } %}
    </div>
  {% endif %}
  {% include "@atoms/02-text/00-headings/_heading.twig" with {
    heading_level: '3',
    heading_blockname: event_card__base_class,
    heading: event_card__heading,
  } %}
  {{ event_card__date__start }}
  {{ event_card__date__end }}
  {{ event_card__library_name }}
  {% for tag in event_card__tags %}
    {{ tag }}
  {% endfor %}
</div>